<div id="sidebar" class="sidebar collapsed">
    <div class="sidebar-header">
        <div class="logo-text">Chrono</div>
        <button @onclick="R.ComFn.ExpendToggle" type="button" class="btn-none toggle-btn">
            <MenuCollapIcon Class="menu-collap-svg" />
            <MenuExpendIcon Class="menu-expend-svg" />
        </button>
    </div>
    <div class="sidebar-menu">
        @foreach (var menuitem in MenuList)
        {
            bool active = menuitem.MainMenu.Name == R.Gva.CurrentPage;
            <button @onclick="()=>OnSelectMenu(menuitem.MainMenu)" class="btn-none menu-item @(active ? "active":"")">
                <div class="menu-icon">
                    @menuitem.MainMenu.Icon
                </div>
                <div class="menu-text">
                    @menuitem.MainMenu.Name
                    @if(menuitem.MainMenu.HasSubmenu)
                    {
                        <div class="mm-subm-indicator">
                            <MenuExpendIcon Width="15" Height="15" />
                        </div>
                    }
                </div>
            </button>
            @if (menuitem.SubMenu.Any())
            {
                <div class="submenu-container @(active ? "sub-open":"")">
                    @foreach (var menu in menuitem.SubMenu)
                    {
                        <div class="sub-menu-item @(menu.LastMenu ? "smi-last":"")">
                            <button @onclick="()=>OnSelectSubMenu(menu)" type="button" class="btn-none smi-btn @(SelectedSubMenu == menu.Name ? "sub-active":"")">
                                <div class="smib-text">
                                    <div class="smib-t-ind">
                                        <div class="smib-tind-svg">@SVGService.CheckIcon(20,20)</div>
                                    </div>
                                    @menu.Name
                                </div>
                                <div class="smib-svg">@SVGService.CalendarIcon(22,22)</div>
                            </button>
                        </div>
                    }
                </div>
            } 
        }
    </div>
</div>

@code{
    private string SelectedSubMenu = string.Empty;

    private List<NavMenuItem> MenuList = new List<NavMenuItem>()
    {
        new NavMenuItem()
        {
            MenuId = 1,
            MainMenu = new SubMenuItem(){Name = MenuSection.Order, Route =  "/owner", Icon = new RenderFragment((b)=>{
                b.OpenComponent<MenuOrderIcon>(1);
                b.CloseComponent();
            }) },
        },
         new NavMenuItem()
        {
            MenuId = 2,
            MainMenu = new SubMenuItem(){Name = MenuSection.TableView, Route =  "/owner/tableview", Icon = new RenderFragment((b)=>{
                b.OpenComponent<MenuTableViewIcon>(1);
                b.CloseComponent();
            }) },
        },
         new NavMenuItem()
        {
            MenuId = 3,
            MainMenu = new SubMenuItem(){Name = MenuSection.Setup, Route =  "", Icon =new RenderFragment((b)=>{
                b.OpenComponent<MenuSetupIcon>(1);
                b.CloseComponent();
            }), HasSubmenu = true },
            SubMenu = new List<SubMenuItem>()
            {
               new SubMenuItem(){Name = MenuSection.Table, Route =  "/owner/table", },
               new SubMenuItem(){Name = MenuSection.Items, Route =  "/owner/items", },
               new SubMenuItem(){Name = MenuSection.Category, Route =  "/owner/category", },
               new SubMenuItem(){Name = MenuSection.Discount, Route =  "/owner/discount", LastMenu = true },
            }
        },
    };

    private async Task OnSelectMenu(SubMenuItem menu)
    {
        R.Gva.CurrentPage = menu.Name;
        if (menu.HasSubmenu) return;
        //R.Nav.NavigateTo(menu.Route);
        SelectedSubMenu = string.Empty;
        await R.Notifier.Update(NotifierObjectName.MainHeader, NotifierActionName.MainHeaderNameChange);
    }

    private async Task OnSelectSubMenu(SubMenuItem menu)
    {
        SelectedSubMenu = menu.Name;
        //R.Nav.NavigateTo(menu.Route);
    }

}